@import "section.css";
@import "section-en.css";
@import "footer.css";
@import "home.css";
@import "responsive.css";

/*html {
  scroll-behavior: smooth;
}*/

html > body {
/*  font-family: 'Varela Round', sans-serif;
  font-family: 'Varela', sans-serif;
  font-family: 'Comfortaa', cursive;
  font-family: 'Sen', sans-serif;*/
  /*font-family: 'Catamaran', sans-serif;*/
  /*font-family: 'Kaushan Script', cursive;*/
  /*font-family: 'Alef', sans-serif;*/
  /*font-family: 'Coustard', serif;*/
  /*font-family: 'Palanquin Dark', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-bottom: 25px;
  color: #8B3421;
}
h3 {
  color: #8B3421;
}
p a {
  color: #8B3421;
}

p a:hover {
  text-decoration: none;
  color: #8B3421;
}
.black {
  color: black;
}

button {
  background-color: transparent;
  border: none;
}
button p {
  padding: 20px 0px 20px 0px;
  font-size: 1.3em;
/*  border-top: solid 2px #8B3421;
  border-bottom: solid 2px #8B3421;*/
  transition: 0.5s;
  
}
button:hover{
  /*padding: 30px 20px 30px 20px;*/
 /* border-right: solid 2px #8B3421;
  border-left: solid 2px #8B3421;*/
/*  border-bottom: solid 2px #8B3421;
*/  letter-spacing: 2px;
/*  border-bottom: none;
*/  border-top: none;
}

#contact:hover {
    /*border-bottom: solid 2px #8B3421;*/
}
