html {
  scroll-behavior: smooth;
}

html > body {
  background-color: white;
/*  font-family: 'Comfortaa', cursive;
*/  /*font-family: 'Sen', sans-serif;*/
  /*font-family: 'Poppins', sans-serif*/
  font-family: 'Varela Round', sans-serif;
}

h1 {
  color: #8B3421;
}

#home {
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  color: white;
}

#home-content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#logo img {
  height: 300px;
  width: 500px;
}

#valeurs {
  margin-right: 10%;
  text-align: right;
}

#valeurs p {
  font-size: 20px;
  font-weight: lighter;
}

#scroll {
  height: 15%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#scroll a {
	transition: 
}
.demo a {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#scroll a span {
  position: absolute;
  margin-left: -12px;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  /*border: 1px solid #fff;
  border-radius: 100%;*/
  box-sizing: border-box;
}
#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  animation-delay: 4.5s;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#section2 {
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bloc {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prez {
  text-align: justify;
  width: 67%;
  align-self: center;
}

/*#section3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scroll2 a span {
  position: absolute;
  margin-left: -12px;
  top: 190%;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}*/

.container {
  margin: 0 auto;
  width: 50%;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  font-weight: bolder;
  border-bottom: 1px solid #8B3421;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: absolute;
  width: 21px;
  left: -30px;
  top: 50%;
  z-index: 2;
}
.plus-minus-toggle:before, .plus-minus-toggle:after {
  background: #333;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}
