#language {
  float: left;
  padding: 10px 0px 0px 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
#language a {
  color: gray;
}
#language a:hover {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
.nodisplay {
  display: none;
}

#home {
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  color: white;
}
#home-en {
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  color: white;
}

#home-content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#logo img {
  height: 300px;
  width: 500px;
}

#valeurs {
  margin-right: 10%;
  text-align: right;
}
#valeurs p {
  font-size: 1.3em;
  font-weight: lighter;
}
#valeurs a {
  text-decoration: none;
  color: white;
}

#scroll {
  height: 15%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#scroll a {
	transition: 
}

.demo a {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#scroll a span {
  position: absolute;
  margin-left: -12px;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  /*border: 1px solid #fff;
  border-radius: 100%;*/
  box-sizing: border-box;
}
#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  animation-delay: 4.5s;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

