#discover {
  width: 65vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}


#bloc1 {
  padding-top: 100px;
  text-align: justify;
}
.phrase {
  font-size: 1.3em;
  line-height: 2;
}


#bloc2 {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
#conseil {
  margin-right: 100px;
  margin-left: 50px;
  width: 50%;
}
#investissement {
  margin-left: 50px;
  width: 50%;
}


#bloc3 {
  padding-top: 50px;
}
#valeurs-expli {
  font-size: 1em;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#ve1 {
  align-self: flex-end;
  width: 30%;
  text-align: right;
}
#ve2 {
  align-self: center;
  width: 30%;
  text-align: center;
}
#ve3 {
  align-self: flex-start;
  width: 30%;
  text-align: left;
}


#bloc4 {
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
#photo {
  margin-left: 50px;
  align-self: flex-start;
}
#photo img {
  border-radius: 4px;
/*  -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
  filter: grayscale(100%);*/
}
.quote {
  margin-right: 50px;
  margin-bottom: 50px;
  align-self: flex-end;
}
.quote p {
  display: inline;
  font-size: 1.3em;
  line-height: 2;
/*  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);*/
}
.quote span {
  /*font-family: 'Catamaran', sans-serif;*/
  /*font-family: 'Kaushan Script', cursive;*/
  font-family: 'Alef', sans-serif;
  /*font-family: 'Coustard', serif;*/
  /*font-family: 'Palanquin Dark', sans-serif;*/
  font-size: 3em;
  line-height: 0; 
}

#bloc5 {
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#cv1 {
  width: 50%;
  align-self: flex-start;
}
#cv2 {
  width: 50%;
  align-self: flex-end;
}
#cv3 {
  width: 50%;
  align-self: flex-start;
}
#cv4 {
  width: 50%;
  align-self: flex-end;
}
#cv1 p {
  text-align: left;
}
#cv2 p {
  text-align: left;
}
#cv3 p {
  text-align: left;
}
#cv4 p {
  text-align: left;
}
#cv1 a {
  padding-left: 0px;
}
#cv2 a {
  padding-left: 0px;
}
#cv3 a {
  padding-left: 0px;
}
#cv4 a {
  padding-left: 0px;
}


#bloc6 {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 200px;
}
#bloc6 img {
  width: 100px;
}
#contact {
  margin-bottom: 100px;
  margin-top: 50px;
  height: 100%;
}


/*
.scroll2 a span {
  position: absolute;
  margin-left: -12px;
  top: 190%;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}*/


.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #8B3421;
  font-weight: 400;
}

.accordion p a {
  padding: 0px;
  display: inline;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  font-weight: bolder;
  border-bottom: 1px solid #8B3421;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: absolute;
  width: 21px;
  left: -30px;
  top: 50%;
  z-index: 2;
}
.plus-minus-toggle:before, .plus-minus-toggle:after {
  background: #333;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}